{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Profile
{% endblock title %}

{% block about %}
<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">

        <!--Display profile info-->
        <h2 class="text-center">Profile</h2>
        <h5 style="color: darkblue;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </h5>

        <!--Edit profile button-->
        {% if user.id == current_user.id %}
        <a href="{{ url_for('profile.edit_profile') }}" class="btn btn-lg btn-outline"
           style="background-color: #2c3e50; color: white;">
            <i class="fa fa-user"></i>
            Edit Profile
        </a>
        <br><br>
        {% endif %}

        <img class="img-circle" src="{{ user.picture_path }}" style="width:25vh;height:25vh;border-radius:50%;"><br>

        <div class="row" style="display: inline-block; margin: 1%;">
            Name: {{ user.first_name }} {{ user.last_name }} <br>
            Email: {{ user.email }} <br>
            {% if jobs_completed %}
                Average Rating: {{ avg_rating }}/5
            {% endif %}
        </div>

        <!--Shows completed jobs-->
        <h3 class="text-center" style="margin-top: 5%;">{{ user.first_name }}'s Completed Jobs</h3>
        {% if not jobs_completed %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                There are currently no completed jobs.
            </div>
        {% else %}
            {% for job in jobs_completed %}
                <hr>
                <h5>{{ job.name }}</h5>
                Date Created: {{ job.date_created.strftime('%m/%d/%Y') }} <br>
                Date Completed: {{ job.date_completed.strftime('%m/%d/%Y') }} <br>
                Description: {{ job.description }} <br>
                {% if job.status == 'Pending' or current_user.id == job.creator_id or current_user.id == job.accepted_id %}
                Price: {{ "$%.2f"|format(job.price) }} <br>
                {% endif %}
                Street Name: {{ job.location }} <br>
                Zip Code: {{ job.zipcode }} <br>
                Rating: {{ job.rating }} <br>
                Review: {{ job.review }} <br>
            {% endfor %}
        {% endif %}
        <hr>

    </div>
</section>
{% endblock %}
