impo{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Profile
{% endblock title %}

{% block about %}
<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">

        <!--Display profile info-->
        <h2 class="text-center">Profile</h2>
        <h5 style="color: darkblue;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </h5>
        <hr>
        <img class="img-circle" src="{{ pic_path }}" style="width:25vh;height:25vh"><br>
        <style>.img-circle {border-radius: 50%; }</style>
        <div class="row" style="display: inline-block; margin: 1%;">
            Name: {{ user.first_name }} {{ user.last_name }} <br>
            Email: {{ user.email }} <br>
        </div>

        <hr>

        <!--Edit Profile Button-->
        {% if user.id == current_user.id %}
        <a href="{{ url_for('profile.edit_profile') }}" class="btn btn-lg btn-outline"
           style="background-color: #2c3e50; color: white;">
            <i class="fa fa-user"></i>
            Edit Profile
        </a>
        {% endif %}

        <hr>

        <!--Shows completed jobs-->
        <h2 class="text-center">Completed Jobs</h2>
        {% if not jobs_completed %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                You have not completed any jobs. You suck.
            </div>
            <br>
        {% else %}
            {% for job in jobs_completed %}
                <hr>
                Job Name: {{ job.name }} <br>
                Description: {{ job.description }} <br>
                Price: {{ "$%.2f"|format(job.price) }} <br>
                <!--Add review stuff later-->
                <hr>
            {% endfor %}
        {% endif %}

    </div>
</section>
{% endblock %}
