{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Create Job
{% endblock %}

{% block about %}
<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">
        <h2 class="text-center">Create Job</h2>
        <h5 style="color: darkblue;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </h5>
        <div class="row" style="display: inline-block;">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</section>
{% endblock %}