{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ job.name }}
{% endblock %}

{% block about %}
<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">

        <h5 style="color: darkblue;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </h5>

        <h2 class="text-center">{{ job.name }}</h2>
        Date Created: {{ job.date_created.strftime('%m/%d/%Y') }} <br>
        Description: {{ job.description }} <br>
        {% if job.status == 'Pending' or current_user.id == job.creator_id or current_user.id == job.accepted_id %}
        Price: {{ "$%.2f"|format(job.price) }} <br>
        {% endif %}
        Street Name: {{ job.location }} <br>
        Zip Code: {{ job.zipcode }} <br>
        Status: {{ job.status }} <br>
        {% if my_price is defined %}
        Requested Price: {{ "$%.2f"|format(my_price) }} <br>
        <a href="{{ url_for('jobs.cancel_request', job_id=job.id) }}" class="btn btn-lg btn-outline"
           style="background-color: #ff0000; color: white;">
            <i class="fa fa-times"></i>
            Cancel Request
        </a>
        {% endif %}

        {% if job.status == 'Pending' and form is defined %}
        <div style="width: 20%; margin: 0 auto;">
            {{ wtf.quick_form(form) }}
        </div>
        {% endif %}

        {% if job.status != 'Pending' %}
        Accepted by:
        <a href="{{ url_for('profile.view_profile', user_id=acceptor.id) }}">
            {{ acceptor.first_name }} {{ acceptor.last_name }}
        </a><br>
        {% endif %}

        {% if job.status == 'Completed' %}
        Rating: {{ job.rating }} <br>
        Review: {{ job.review }} <br>
        {% endif %}

        {% if job.status == 'In Progress' and job.creator_id == current_user.id %}
        <a href="{{ url_for('jobs.review', job_id=job.id) }}" class="btn btn-lg btn-outline"
           style="background-color: #45ad50; color: white;">
            <i class="fa fa-check"></i>
            Review & Complete
        </a>
        {% endif %}

    </div>

    {% if job.status == 'Pending' and job.creator_id == current_user.id and requestors|length > 0 %}
        <div class="container" style="text-align: center;">
            <h3 class="text-center" style="margin-top: 5%;">Requests</h3>
            {% for requestor in requestors %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                <a href="{{ url_for('profile.view_profile', user_id=requestor.id) }}">
                    {{ requestor.first_name }} {{requestor.last_name }}</a>
                <br>
                Asking Price: {{ "$%.2f"|format(requestors[requestor]) }}
                <br>
                <a href="{{ url_for('jobs.accept_request', job_id=job.id, requestor_id=requestor.id) }}"
                   class="btn btn-lg btn-outline" style="background-color: #45ad50; color: white;">
                    <i class="fa fa-money"></i>
                    Accept Request
                </a>
            </div>
            {% endfor %}
            <hr>
        </div>
    {% endif %}

</section>
{% endblock %}