{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
My Jobs
{% endblock %}

{% block about %}
<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">
        <h2 class="text-center">My Jobs</h2>
        {% for job in jobs %}
        <hr>
        <div class="row" style="display: inline-block;">
            Name: {{ job.name }} <br>
            Description: {{ job.description }} <br>
            Status: {{ job.status }} <br>

            {% if jobs[job]|length != 0 %}
                {{ jobs[job] }}
            {% else %}
                abc
            {% endif %}

            {% if jobs[job]|length != 0 %}
                {% for dict in jobs[job] %}
                <a href="{{ url_for('profile.view_profile', user_id=dict[worker_id]) }}">
                    <span class="label label-primary">{{ dict[worker_name] }}</span>
                </a>
                <a href="{{ url_for('jobs.accept', job_id=dict[job_id], requestor_id=dict[worker_id]) }}">
                    <span class="label label-primary">Accept</span>
                </a>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <hr>
    </div>
</section>
{% endblock %}