{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
My Jobs
{% endblock %}

{% block about %}
<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">
        <h2 class="text-center">To Do</h2>
        {% if not accepted_jobs %}
        <hr>
        <div class="row" style="display: inline-block; margin: 1%;">
            No jobs to do...
        </div>
        <br><br>
        {% else %}
        {% for job in accepted_jobs %}
        <hr>
        <div class="row" style="display: inline-block; margin: 1%;">
            Name: {{ job.name }} <br>
            Date Created: {{ job.date_created }} <br>
            Description: {{ job.description }} <br>
            Street Name: {{ job.location }} <br>
            Zip Code: {{ job.zipcode }} <br>
            Status: {{ job.status }} <br>
            <a href="{{ url_for('jobs.job', id=job.id) }}" class="btn btn-lg btn-outline"
               style="background-color: #0300b0; color: white;">
                <i class="fa fa-street-view"></i>
                View
            </a>
        </div>
        {% endfor %}
        {% endif %}

        <h2 class="text-center">Requested Jobs</h2>
        {% if not requested_jobs %}
        <hr>
        <div class="row" style="display: inline-block; margin: 1%;">
            No jobs requested...
        </div>
        <br><br>
        {% else %}
        {% for job in requested_jobs %}
        <hr>
        <div class="row" style="display: inline-block; margin: 1%;">
            Name: {{ job.name }} <br>
            Date Created: {{ job.date_created }} <br>
            Description: {{ job.description }} <br>
            Street Name: {{ job.location }} <br>
            Zip Code: {{ job.zipcode }} <br>
            Status: {{ job.status }} <br>
            <a href="{{ url_for('jobs.job', id=job.id) }}" class="btn btn-lg btn-outline"
               style="background-color: #0300b0; color: white;">
                <i class="fa fa-street-view"></i>
                View
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
        <hr>
    </div>
</section>
{% endblock %}