{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
My Requests
{% endblock %}

{% block about %}
<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">

        <h5 style="color: darkblue;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </h5>

        <h2 class="text-center">My Requests</h2>
        <br>

        {{ bluecollr_jobs_map.html }}
        <hr>
        To filter jobs by distance, enter a zip code below.
        <div style="width: 20%; margin: 0 auto;">
            {{ wtf.quick_form(form) }}
        </div>

        <h3 class="text-center" style="margin-top: 5%;">In Progress</h3>
        {% if not accepted_jobs and not accepted_sorted %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                There are currently no jobs in progress. Keep on requesting!
            </div>
            <br>
        {% else %}
            {% for job in accepted_jobs %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                <h5>{{ job.name }}</h5>
                Date Created: {{ job.date_created.strftime('%m/%d/%Y') }} <br>
                Description: {{ job.description }} <br>
                {% if job.status == 'Pending' or current_user.id == job.creator_id or current_user.id == job.accepted_id %}
                Price: {{ "$%.2f"|format(job.price) }} <br>
                {% endif %}
                Street Name: {{ job.location }} <br>
                Zip Code: {{ job.zipcode }} <br>
                Status: {{ job.status }} <br>
                <a href="{{ url_for('jobs.job', id=job.id) }}" class="btn btn-lg btn-outline"
                   style="background-color: #0300b0; color: white;">
                    <i class="fa fa-globe"></i>
                    View
                </a>
            </div>
            {% endfor %}

            {% for job in accepted_sorted %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                <h5>{{ job[0].name }}</h5>
                Date Created: {{ job[0].date_created.strftime('%m/%d/%Y') }} <br>
                Description: {{ job[0].description }} <br>
                {% if job.status == 'Pending' or current_user.id == job.creator_id or current_user.id == job.accepted_id %}
                Price: {{ "$%.2f"|format(job[0].price) }} <br>
                {% endif %}
                Street Name: {{ job[0].location }} <br>
                Zip Code: {{ job[0].zipcode }} <br>
                Status: {{ job[0].status }} <br>
                Distance: {{ job[1] }} miles <br>
                <a href="{{ url_for('jobs.job', id=job[0].id) }}" class="btn btn-lg btn-outline"
                   style="background-color: #0300b0; color: white;">
                    <i class="fa fa-globe"></i>
                    View
                </a>
            </div>
            {% endfor %}

        {% endif %}

        <h3 class="text-center" style="margin-top: 5%;">Requested</h3>
        {% if not requested_jobs %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                No jobs have been requested. Click 'Browse' on the menu at the top to find a job!
            </div>
            <br>
        {% else %}
            {% for job in requested_jobs %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                <h5>{{ job.name }}</h5>
                Date Created: {{ job.date_created.strftime('%m/%d/%Y') }} <br>
                Description: {{ job.description }} <br>
                {% if job.status == 'Pending' or current_user.id == job.creator_id or current_user.id == job.accepted_id %}
                Price: {{ "$%.2f"|format(job.price) }} <br>
                {% endif %}
                Requested Price: {{ "$%.2f"|format(requested_jobs[job]) }} <br>
                Street Name: {{ job.location }} <br>
                Zip Code: {{ job.zipcode }} <br>
                Status: {{ job.status }} <br>
                <a href="{{ url_for('jobs.job', id=job.id) }}" class="btn btn-lg btn-outline"
                   style="background-color: #0300b0; color: white;">
                    <i class="fa fa-globe"></i>
                    View
                </a>
            </div>
            {% endfor %}

            {% for job in requested_sorted %}
            <hr>
            <div class="row" style="display: inline-block; margin: 1%;">
                <h5>{{ job[0].name }}</h5>
                Date Created: {{ job[0].date_created.strftime('%m/%d/%Y') }} <br>
                Description: {{ job[0].description }} <br>
                {% if job.status == 'Pending' or current_user.id == job.creator_id or current_user.id == job.accepted_id %}
                Price: {{ "$%.2f"|format(job[0].price) }} <br>
                {% endif %}
                Street Name: {{ job[0].location }} <br>
                Zip Code: {{ job[0].zipcode }} <br>
                Status: {{ job[0].status }} <br>
                Distance: {{ job[1] }} miles <br>
                <a href="{{ url_for('jobs.job', id=job[0].id) }}" class="btn btn-lg btn-outline"
                   style="background-color: #0300b0; color: white;">
                    <i class="fa fa-globe"></i>
                    View
                </a>
            </div>
            {% endfor %}

        {% endif %}
        <hr>

    </div>
</section>
{% endblock %}

{% block scripts %}
{{ bluecollr_jobs_map.js }}
{% endblock %}}