{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Job Review
{% endblock %}

{% block css %}
<link href="/static/css/stars.css" rel="stylesheet">
{% endblock %}

{% block about %}

<section id="portfolio" style="margin-top: 5%;">
    <div class="container" style="text-align: center;">
        <h2 class="text-center">Job Review</h2>
        Job Name: {{ job.name }} <br>
        Job Description: {{ job.description }} <br>
        <br>
        <div class="row" style="display: inline-block;">
            {{ form.rating }}
            {{ form.review }}
            {{ form.submit }}
        </div>
    </div>
</section>
{% endblock %}