{% extends "layout/base.html" %}

{% block title %}
BlueCollr
{% endblock %}

{% block header %}
<header class="masthead">
    <div class="container">
        <img class="img-fluid" src="static/img/bc1.png" alt="">
        <div class="intro-text">
            <span class="name">BlueCollr</span>
            <hr class="star-light">
            <span class="skills">Plumbers &#8226; Electricians &#8226; Carpenters &#8226; Handymen &#8226; Landscapers &#8226; Construction Workers</span>
        </div>
    </div>
</header>
{% endblock %}



{% block portfolio %}
<section id="portfolio">
    <div class="container">
        <h2 class="text-center" style="margin-top: -4%;">Job Map</h2>
        <hr class="star-primary">
        {{ bluecollr_jobs_map.html }}
    </div>
    <br>
    <div class="container">
        <h2 class="text-center">Prior Work Portfolio</h2>
        <hr class="star-primary">
        <div class="row">
            <div class="col-sm-6 portfolio-item">
                <a class="portfolio-link">
                    <center>BEFORE</center>
                    <img class="img-fluid" src="static/img/homes/before_1.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a class="portfolio-link">
                    <center>AFTER</center>
                    <img class="img-fluid" src="static/img/homes/after_1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 portfolio-item">
                <a class="portfolio-link">
                    <center>BEFORE</center>
                    <img class="img-fluid" src="static/img/homes/before_2.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a class="portfolio-link">
                    <center>AFTER</center>
                    <img class="img-fluid" src="static/img/homes/after_2.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block about %}
<section class="success" id="about">
    <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p>BlueCollr is a service that allows Blue Collar workers to connect with clients who need
                    Blue Collar jobs done, such as household fixes, broken sinks, electrical work,
                    etc.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p>Whether you're a Blue Collar professional looking to find a job, a homeowner with a problem, or
                    just looking for some work to do on the side, Blue Collar is the perfect place to find work or get
                    it done!</p>
            </div>
            {% if not current_user.is_authenticated %}
            <div class="col-lg-8 mx-auto text-center">
                <a href="{{ url_for('auth.register') }}" class="btn btn-lg btn-outline">
                    <i class="fa fa-user"></i>
                    Sign Up!
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ bluecollr_jobs_map.js }}
{% endblock %}}
